:root {
    --color-1: #000000;
    --color-2: #bc6c26;
    --color-3: #8d8d8d;
    --color-4: #00000066;
    --color-5: #312721;
    --color-6: #bc6c2680;
    --color-7: #d0bead;
    --color-8: #d9d9d9;
    --color-9: #e5b14f;
    --color-10: #fff9e9b3;
    --color-11: #fffdf6;
}

body {
    background-color: var(--color-10);
}

/* Header */

header {
    border-bottom: 1px solid #c4c4c4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-web {
    height: auto;
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

h3 {
    font-family: "Inria Serif", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.name-web span {
    font-family: "Inria Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: var(--color-3);
    margin-bottom: 2px;
}

nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

nav button {
    font-family: "Arial Sans", sans-serif;
    padding: 5px;
    font-weight: 100;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    border: none;
}

nav button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background-color: var(--color-2);
    transition: width 0.3s ease;
}

nav button.active {
    color: var(--color-2);
}

nav button.active::after {
    width: 100%;
}

/* Main */

main {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.logo {
    font-family: "Inria Serif", sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: var(--color-2);
    opacity: 25%;
    margin-top: 30px;
    margin-bottom: -10px;
}

.frase-aleatoria {
    color: var(--color-6);
    font-size: 14px;
}

h1 {
    font-size: 60px;
    font-family: "Libre Bodoni", sans-serif;
}

i span {
    color: var(--color-2);
}

.container p {
    text-align: center;
    font-family: "Inria Serif", sans-serif;
}

.aspas {
    color: var(--color-2);
    font-family: "Libre Bodoni", sans-serif;
    font-weight: bold;
    font-size: 70px;
    opacity: 50%;
    position: relative;
    top: -50px;
    left: 30px;
    z-index: 1;
}

.quadro-cinza {
    height: 200px;
    width: 500px;
    background-color: var(--color-8);
    margin-bottom: 30px;
    margin-top: 40px;
}

.quadro-cinza div {
    position: relative;
    height: 200px;
    width: 500px;
    background-color: var(--color-11);
    border: 1px solid var(--color-4);
    top: -110px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase {
    text-align: center;
    font-family: "Libre Bodoni", sans-serif;
    font-weight: bold;
    font-size: 16px;
    max-width: 300px;
}

/*  Buscar  */

.container-buscar {
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.topico {
    font-family: "Inria Sans", sans-serif;
    color: #8d8d8d;
    font-size: 16px;
}

h2 {
    font-family: "Inria Serif", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pesquisa {
    font-size: 17px;
    font-family: "Inria Serif", sans-serif;
    font-weight: bold;
    color: #8d8d8d;
}

.quadro-sombra {
    height: 80px;
    width: 700px;
    background-color: var(--color-8);
    margin-bottom: 30px;
    margin-top: 60px;
}

.quadro-sombra div {
    position: relative;
    height: 80px;
    width: 700px;
    background-color: var(--color-11);
    border: 1px solid var(--color-4);
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-verde {
    background-color: #008456;
    color: var(--color-11);
    height: 40px;
    width: 80px;
    font-family: "Inria Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
    border: none;
}

.button-verde:hover {
    transition: 0.5s;
    background-color: #005a3b;
}

.button-verde:active {
    transform: translateY(4px);
}

.tema {
    height: 40px;
    width: 70%;
    font-family: "Inria Serif", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 12px; 
}

.tema::placeholder {
    color:  #c7c7cc;
}

.container-img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
}

.imgTema {
    width: 300px;
    height: auto;
    border: 5px solid white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.conselhoTema {
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
}

/* Ordem */

    /* <span class="topico">- Escolher conselho</span>
    <h2>Buscar conselho<br>por número</h2>
    <p class="pesquisa">Cada conselho possui um ID único. Digite o número e recupere<br>exatamente aquele conselho.</p>
    <div class="quadro-sombra-ordem">
        <div class="quadro-branco">
            <div class="preencher">
                <span>Número do conselho </span>
                <input type="text" placeholder="Ex: 117">
                <button>Buscar por N°</button>
            </div>
            <hr>
            <div class="container-frase">
                <span>O conselho encontrado aparecerá aqui.</span>
            </div>
        </div>
    </div> */

.quadro-sombra-ordem {
    height: 200px;
    width: 700px;
    background-color: var(--color-8);
    margin-bottom: 30px;
    margin-top: 60px;
}

.quadro-branco {
    position: relative;
    height: 200px;
    width: 700px;
    background-color: var(--color-11);
    border: 1px solid var(--color-4);
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.preencher {
    display: flex;
}

hr {
    height: 70%;
    width: 1px;
    color: #c7c7c765;
}

/* Footer */

footer {
    width: 100%;
}

.number-conselhos {
    height: 100px;
    width: 100%;
    background-color: var(--color-5);
    display: flex;
    justify-content: center;
}   

.white-line {
    width: 200px;
    border-left: 2px solid var(--color-8);
    border-right: 2px solid var(--color-8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Libre Bodoni", sans-serif;
}

.white-line span {
    color: var(--color-10);
    font-size: 14px;
}

#number {
    color: var(--color-9);
    font-size: 40px;
}

.rodape {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 20px;  
}

.referencia {
    color: #8d8d8d;
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
}

.referencia a {
    color: var(--color-1);
}

.motivation {
    color: var(--color-9);
    font-size: 16px;
    font-family: "Inria Serif", sans-serif;
}


